@import url("https://fonts.googleapis.com/css2?family=cyrillic Roboto");
@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Crete Round");

body {
  box-sizing: border-box;
  padding: 0;
  width: 375px;
  height: 100vh;
  margin: 0 auto;
}

h1 {
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #fff;
}

.header {
  background: #3c3a39;
  height: 50px;
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-p {
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.fa-bars-icon {
  margin-right: 15px;
  font-size: 18px;
  color: #fff;
}

.section-1 {
  background-size: 406px 311px;
  height: 590px;
  width: 375px;
  background-color: black;
  background-image: url("./images/background-image.svg");
  background-repeat: no-repeat;
  background-position-x: 116px;
  background-position-y: 310px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 590px;
  width: 375px;
}

.primary-text {
  width: 327px;
  height: 124px;
  font-family: "Crete Round", cursive;
  font-style: normal;
  font-size: 36px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-left: 20px;
  margin-bottom: 40px;
}

.supporting-text {
  width: 327px;
  height: 27px;
  margin-left: 20px;
  margin-bottom: 60px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #fff5e1;
}

.description {
  width: 327px;
  height: 123px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.social-media {
  margin-left: -33px;
}

.social-media ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: flex-start;
}

.social-media ul li {
  margin-right: 10px;
}
